<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
          simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
          (ngClass)</li>
        <hr />
      </ol>
    </div>
    <div class="col-xs-6">
      <button (click)="toggle()">Display Details</button>
      <p *ngIf="isOpen">Secret text</p>
    </div>
    <div class="col-xs-6">
      <ul *ngIf="changes?.length; else noChanges">
        <ng-container  *ngFor="let change of changes; let i = index">

          <li
          [ngStyle]="{'background-color': ( i >= 4 ? 'blue' : '')}"
          [ngClass]="{color_white: i >=4 }">
          {{change.time | date: 'medium'}}, {{change.isOpen ? 'opened' : 'closed'}}
        </li>
      </ng-container>
      </ul>
      <ng-template #noChanges>
        <p>No changes yet</p>
      </ng-template>
    </div>
  </div>
</div>
